table#tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}
th, td {
    border: 10px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: rgb(146, 146, 146);
}
th:hover {
    background-color: gray;
}
input{
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.582);
    float: right;
    cursor: pointer;
}
input:hover {
    background-color: rgb(161, 161, 161);
}
input#cadas {
    margin: 10px;
}